/*
Color palette
#F7FFF7 - white
#721817 - persian plum (vinho)
#FA9F42 - deep saffron (amarelo)
#2B4162 - indigo dye (azul)
#0B6E4F - bottle green (verde)
#E0E0E2 - gainsboro (cinza)
*/

/* ---------------------- GLOBAL STYLES ---------------- */
body{
    color:#343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a{
    color:#E0E0E2;
}

a:hover{
    text-decoration: none;
}

h1{
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

img {
    width: 300px;
  }

.content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

/* ---------------------- PROFILE ---------------- */
header{
    background-color: #0B6E4F;
    color: #E0E0E2;
    text-align: center;
}
  
  
/* ---------------------- PROJECTS ---------------- */
.projects{
    background-color:#2B4162 ;
    color: #E0E0E2;
}

.projects .btn{
    color: #0B6E4F;
    background-color: #E0E0E2;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover{
    background: rgb(224, 224, 226, 80%);
}


/* ---------------------- WORK EXPERIENCE ---------------- */
.work-experience{
    background-color: #E0E0E2;
    color: #252525;
}

.work-experience a{
    color: #343434;
}

/* ---------------------- EDUCATION ---------------- */
.education{
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
    color: #252525;
}

/* ---------------------- CONTACTS ---------------- */
footer{
    background-color: #721817;
    color: #E0E0E2;
}
